.navbar 
{
  
    width: 100%;
    background-color: #000;
    position: fixed;
    top: 0px;
    z-index: 10000;
  }
  .navbar a {
    float: left;
    padding: 14px ;
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin: 0;
    text-align: center;
    
  }
    /*
  .dropdown 
  {
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-align: center;
  
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown:hover .dropdown-content {
   
    display: block;
    
  }
  */
  .navbar a:hover {
    background-color: #858585;
  }
  
  .active {
    background-color: #04AA6D;
  }

  .Home_Message
  {
    font-size: 25px;
    width: 700px;
    height: 300px;
    text-align: left;
    display: block;
    
  }
  .Home_Section
  {
     
      text-align: left;
      background-color: #2b6777;
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      
  }
  .Project_Section
  {
      display: block;
      text-align: center;
      background-color: #fff;
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .About_Me_Section
  {
      display: block;
      text-align: center;
      background-color: #616161;
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  #Contact
  {
    float: right;
  } 
  /*When the width of this document is 500 pixels or less the nav bar is display as blocks*/
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }